.pokemon {
    font-weight: 100;
    color: rgb(0, 0, 0);
    font-size: 30px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #75cae4;
}
.info {
    margin: 120px 0 5vh;
    height: 100%;
    padding: 0 20px;
    display: grid;
    justify-content: center;
    grid-template: 10% 90% / 30% 40% 30%;
    align-items: center;
    justify-items: center;
}
.stats {
    padding: 20px;
    width: 100%;
    display: flex;
    font-size: 40px;
    flex-direction: column;
    gap: 20px;
}
.stat {
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 20px;
    color: black;
}
.stat_name {
    padding: 5px;
    border-radius: 20px 0 0 20px;
    background: #4991a7;
    text-align: center;
}
.header {
    font-size: 45px;
    grid-area: 1/ 1/ auto/ span 3;
    text-align: center;
    padding-bottom: 20px;
}
.stat_value {
    padding: 5px;
    border-radius: 0 20px 20px 0;
    background: white;
    text-align: center;
}
.stat_value_img {
    background: white;
    height: 30px;
}

.img {
    width: 100%;
    height: 100%;
}

.abilities {
    background-color: #4991a7;
    border-top: solid 3px white;
}

.properties {
    padding: 20px;
    width: 100%;
    display: flex;
    font-size: 40px;
    flex-direction: column;
    gap: 50px;
    border-radius: 20px;
}

.property {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.propertyIcon {
    width: 60px;
    height: 60px;
}
.propertyTypeWrapper {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.propertyTypes {
    display: flex;
    justify-content: space-around;
}
.propertyTypeText {
    font-size: 45px;
    text-align: center;
    padding-bottom: 20px;
}
.abilities {
    padding: 40px;
    display: flex;
}
.abilities::before {
    content: 'ABILITIES';
    position: absolute;
    font-size: 45px;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4991a7;
    border-radius: 20px;
    padding: 20px;
    border: 3px solid white;
}
.ability {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ability_header {
    font-size: 45px;
    text-align: center;
}
.ability_description {
    text-align: center;
    padding:10px;
}

@media (max-width: 1000px) {
    .stat_name, .stat_value, .propertyText, .ability_description {
        font-size: 30px;
    }
    .propertyIcon {
        width: 50px;
        height: 50px;
    }
    .propertyTypeText, .ability_header {
        font-size: 35px;
    }
    .abilities {
        padding: 40px 20px;
    }
    .abilities::before, .header {
        font-size: 40px
    }
}
@media (max-width: 768px) {
    .stat_name, .stat_value, .propertyText, .ability_description {
        font-size: 25px;
    }
    .stats {
        padding: 10px;
    }
    .info {
        grid-template: 5% 50% 45% / 50% 50%;
    }
    .header {
        grid-area: 1/ 1/ span 1/span 2;
    }
    .img {
        grid-area: 2/ 1/ span 1/span 2;
        width: 90%;
        height: 90%;
    }
}
@media (max-width: 576px) {
    .stats {
        padding: 10px 30px;
        grid-area: 4 / 1;
    }
    .properties {
        grid-area: 3 / 1;
    }
    .info {
        grid-template: repeat(4, auto)/ 100%;
    }
    .img {
        grid-area: 2/ 1/ span 1;
    }
    .properties {
        gap: 20px;
    }
    .abilities {
        margin-top: 20px;
        flex-direction: column;
    }
    .ability {
        width: 100%;
    }
    .propertyIcon {
        width: 40px;
        height: 40px;
    }
    .propertyTypeText, .ability_header {
        font-size: 30px;
    }
    .abilities::before, .header {
        font-size: 35px
    }
}