.errorWrapper {
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.searchWrapper, .errorWrapper {
    min-height: 75vh;
    padding-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.errorMessage {
    color: white;
    font-size: 25px;
}
.search {
    min-height: 100vh;
    background-color: #75cae4;
}