.typesPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 100px);
}
.pokemonTypesWrapper {
    display: grid;
    grid-template: repeat(3, minmax(20vh, auto)) / repeat(6, auto);
    grid-row-gap: 50px;
    grid-column-gap: 120px;
}
.pokemonTypeText {
    text-align: center;
    color: white;
}
.pokemonTypeIcon {
    cursor: pointer;
    width: 170px;
}