@font-face {
    font-family: 'Pokemon';
    src: url('../fonts/Pokemon Hollow.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pokemon';
    src: url('../fonts/Pokemon Solid.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: Pokemon;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

