.myFooter {
    height: 25vh;
    font-weight: 500;
    padding: 20px;
    display: flex;
    gap: 25px;
    background-color: #4991a7;
    border-top: 3px solid white;
    color: white;
    flex-direction: column;
    justify-content: center;
}
.myPikachu {
    content: '';
    width: 200px;
    position:absolute;
    bottom: 0;
    left: 0;
}
.myWiggly {
    content: '';
    height: 90%;
    overflow: hidden;
    position:absolute;
    bottom: 0;
    right: 0;
}
.myFooter__header {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.myFooter__wrapper {
    display: flex;
    gap: 90px;
    justify-content: center;
}
.myFooter__component {
    gap: 22px;
    display: flex;
    flex-direction: column;
}
.component__description {
    font-size: 20px;
}
.component__header {
    font-size: 23px;
    text-align: center;
}
.component__wrapper {
    gap: 20px;
    display: flex;
    justify-content: space-between;
}
.component__icon__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.component__icon {
    width: 70px;
    height: 70px;
}
.component__pokeapi__icon {
    margin: 0 auto;
    width: 230px;
    height: 100%;
}
.component__squad__icon {
    width: 240px;
    height: 100%;
    margin: 0 auto;
}

@media (max-width: 1000px) {
    .myWiggly {
        height: 160px;
        width: 160px;
    }
    .myPikachu {
        width: 160px;
    }
    .component__icon {
        width: 50px;
        height: 50px;
    }
    .component__pokeapi__icon {
        width: 160px;
    }
    .myFooter__header {
        font-size: 28px;
    }
    .component__header, .component__description {
        font-size: 21px;
    }
}
@media (max-width: 768px) {
    .myWiggly {
        height: 120px;
        width: 120px;
    }
    .myPikachu {
        width: 120px;
    }
    .component__icon {
        width: 50px;
        height: 50px;
    }
    .component__pokeapi__icon {
        width: 120px;
        height: 50%;
    }
    .myFooter__header {
        font-size: 22px;
    }
    .component__header, .component__description {
        font-size: 17px;
    }
    .myFooter__wrapper {
        gap: 50px;
    }
}
@media (max-width: 576px) {
    .component__icon {
        width: 40px;
        height: 40px;
    }
    .myFooter__component {
        width: 50%;
    }
    .myFooter__header {
        font-size: 15px;
    }
    .component__header, .component__description {
        font-size: 12px;
    }
    .ability_description {
        font-size: 22px;
    }
    .propertyIcon {
        width: 40px;
        height: 40px;
    }
    .myWiggly {
        display: none;
    }
    .myPikachu {
        display: none;
    }
    .myFooter__wrapper {
        gap: 10px;
        justify-content: space-between;
    }
}