.typesPage {
    min-height: 90vh;
    min-width: 100vw;
    background-color: #75cae4;
}
.pokemonTypesWrapper {
    padding-top: 13vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.pokemonTypeText {
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    color: white;
}
.pokemonTypeIcon {
    cursor: pointer;
    width: 170px;
}