.navbar {
    background-color: #4991a7;
    position: relative;
    height: 10vh;
    width: 100vw;
    display: grid;
    border-bottom: 3px solid;
    border-color: white;
}
.navbarLinks {
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
    align-items: center;
    height: 10vh;
}
.navbarLinks::before {
    content: '';
    content: '';
    position: absolute;
    width: 100%;
    height: 90%;
    left: 0;
    top: 1vh;
    background: url("../../images/NavBar/navbarLine.svg") no-repeat;
}
.userText {
    color: white;
    font-weight: 300;
    margin: auto 0;
    font-size: 30px;
}
