.loginFormStyle {
    display: flex;
    flex-direction: column;
    gap: 40px
}
.loginWrapper {
    height: 100vh;
    background: url("../../images/loginPageImages/loginBackground.png") no-repeat 100%/cover;
    background-repeat: no-repeat;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loginForm {
    position: relative;
    right: 22%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 600px;
    height: 482px;
    border-radius: 20px;
}
.loginFormImg {
    margin-bottom: 90px;
}
