.loginFormStyle {
    display: flex;
    flex-direction: column;
    gap: 40px
}
.loginWrapper {
    height: 100vh;
    background: url("../../images/loginPageImages/loginBackground.png") no-repeat 100%/cover;
    background-repeat: no-repeat;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loginForm {
    position: relative;
    right: 22%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
    width: 600px;
    height: 500px;
    border-radius: 20px;
}
.loginFormImg {
    margin-bottom: 20px;
}

@media (max-width: 1700px) {
    .loginWrapper {
        background: url("../../images/loginPageImages/minLoginBackground.png") no-repeat 100%/cover;
    }
    .loginForm {
        background-color: #68c5e1;
        border: 10px solid #3b5ca6;
        right: 0;
        width: 540px;
    }
}

@media (max-width: 540px) {
    .loginWrapper {
        background: url("../../images/loginPageImages/telephoneBackground.jpg") no-repeat 100%/cover;
    }
    .loginForm {
        border: 5px solid #3b5ca6;
        width: 90%;
    }
    .loginFormStyle {
        gap: 20px
    }
}