.block {
    width: 314px;
    height: 329px;
    position: relative;
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-content: center;
}
.block::before {
    content: "";
    background: url("../../images/loginPageImages/ground.png") 50% 50% no-repeat;
    width: 100%;
    height: 100%;
    position:absolute;
    left: -4%;
    top: 10%;
}
.heart__img {
    width: 32px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    top: 22.4%;
    left: 10%;
}
.icon {
    width: 30px;
    height: 30px;
}
.img {
    position: relative;
    width: 144px;
    height: 144px;
}
.types {
    width: 30px;
    display: flex;
    flex-direction: column;
}
.name {
    margin-top: 10px;
    grid-area: 2/1/span 1/span 2;
    font-weight: 100;
    text-align: center;
    color: rgb(255 255 255);
    background-color: #4991a7;
    border-radius: 10px;
    border: 2px solid;
    font-size: 27px;
    padding: 5px;
}

@media (max-width: 768px) {
    .block {
        width: 250px;
        height: 260px;
    }
    .block::before {
        transform: scale(0.9);
    }
    .name {
        margin-top: -5px;
    }
}
@media (max-width: 576px) {
    .block {
        width: 160px;
        height: 170px;
    }
    .block::before {
        background: url("../../images/loginPageImages/miniGround.png") 50% 50% no-repeat;
    }
    .img {
        top: -15px;
        left: 10px;
        width: 115px;
        height: 115px;
    }
    .name {
        margin-top: -30px;
        font-size: 20px;
    }
    .heart__img {
        width: 24px;
        top: 17.1%;
    }
    .icon {
        width: 25px;
        height: 25px;
    }
}